[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.0"
numpy = "==1.26.4"
pyarrow = "==15.0.0"
matplotlib = "==3.8.3"
ipykernel = "==6.29.2"
opencv-python = "==4.9.0.80"
appnope = "==0.1.4"
torch = "==2.2.0"
torchvision = "==0.17.0"
torchaudio = "==2.2.0"
absl-py = "==2.1.0"
antlr4-python3-runtime = "==4.9.3"
asttokens = "==2.4.1"
black = "==24.2.0"
certifi = "==2024.2.2"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
cloudpickle = "==3.0.0"
comm = "==0.2.1"
contourpy = "==1.2.0"
cycler = "==0.12.1"
debugpy = "==1.8.1"
decorator = "==5.1.1"
detectron2 = {ref = "3ff5dd1cff4417af07097064813c9f28d7461d3c", git = "git+https://github.com/facebookresearch/detectron2.git"}
executing = "==2.0.1"
filelock = "==3.13.1"
fonttools = "==4.49.0"
fsspec = "==2024.2.0"
fvcore = "==0.1.5.post20221221"
grpcio = "==1.60.1"
hydra-core = "==1.3.2"
idna = "==3.6"
iopath = "==0.1.9"
ipython = "==8.21.0"
jedi = "==0.19.1"
jinja2 = "==3.1.3"
jupyter-client = "==8.6.0"
jupyter-core = "==5.7.1"
kiwisolver = "==1.4.5"
markdown = "==3.5.2"
markupsafe = "==2.1.5"
matplotlib-inline = "==0.1.6"
mpmath = "==1.3.0"
mypy-extensions = "==1.0.0"
nest-asyncio = "==1.6.0"
networkx = "==3.2.1"
nvidia-cublas-cu12 = "==12.1.3.1"
nvidia-cuda-cupti-cu12 = "==12.1.105"
nvidia-cuda-nvrtc-cu12 = "==12.1.105"
nvidia-cuda-runtime-cu12 = "==12.1.105"
nvidia-cudnn-cu12 = "==8.9.2.26"
nvidia-cufft-cu12 = "==11.0.2.54"
nvidia-curand-cu12 = "==10.3.2.106"
nvidia-cusolver-cu12 = "==11.4.5.107"
nvidia-cusparse-cu12 = "==12.1.0.106"
nvidia-nccl-cu12 = "==2.19.3"
nvidia-nvjitlink-cu12 = "==12.3.101"
nvidia-nvtx-cu12 = "==12.1.105"
omegaconf = "==2.3.0"
packaging = "==23.2"
parso = "==0.8.3"
pathspec = "==0.12.1"
pexpect = "==4.9.0"
pillow = "==10.2.0"
platformdirs = "==4.2.0"
portalocker = "==2.8.2"
prompt-toolkit = "==3.0.43"
protobuf = "==4.25.3"
psutil = "==5.9.8"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.2"
pycocotools = "==2.0.7"
pygments = "==2.17.2"
pyparsing = "==3.1.1"
python-dateutil = "==2.8.2"
pytz = "==2024.1"
pyyaml = "==6.0.1"
pyzmq = "==25.1.2"
requests = "==2.31.0"
six = "==1.16.0"
stack-data = "==0.6.3"
sympy = "==1.12"
tabulate = "==0.9.0"
tensorboard = "==2.16.2"
tensorboard-data-server = "==0.7.2"
termcolor = "==2.4.0"
tornado = "==6.4"
tqdm = "==4.66.2"
traitlets = "==5.14.1"
triton = "==2.2.0"
typing-extensions = "==4.9.0"
tzdata = "==2024.1"
urllib3 = "==2.2.1"
wcwidth = "==0.2.13"
werkzeug = "==3.0.1"
yacs = "==0.1.8"

[dev-packages]

[requires]
python_version = "3.11"
